<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-geo-alt icon"></i>
                <div>
                    <h4>{{ 'footer.endereco' | translate }}</h4>
                    <p>
                        CEP: 20550-900<br />
                        R. São Francisco Xavier, 524 <br />
                        12º andar<br /> Campus Maracanã <br />
                        Rio de Janeiro - RJ
                    </p>
                </div>

            </div>

            <div class="col-lg-3 col-md-6 d-flex">
                <div>
                    <h4>Contato</h4>
                    <p>
                        gpicc.uerj@gmail.com
                    </p>
                </div>

            </div>



            <div class="col-lg-3 col-md-3 footer-links d-flex">
                <i class="bi bi-share icon"></i>
                <div>
                    <h4>{{ 'footer.apoio' | translate }}</h4>
                    <p>
                        <a href="https://www.gov.br/cnpq/pt-br" style="color: #68b3ff;" target="_blank"
                            class="twitter">CNPq</a><br>
                        <a href="https://www.faperj.br/" style="color: #68b3ff;" target="_blank"
                            class="twitter">FAPERJ</a><br>
                        <a href="https://www.gov.br/capes/pt-br" style="color: #68b3ff;" target="_blank"
                            class="twitter">CAPES</a><br>

                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
                <h4></h4>
                <div class="social-links d-flex">

                    <div class="col-xs-3 col-sm-1 ">
                        <img src="../assets/img/cnpq.png" alt="Profile Picture" class="img-responsive img-rounded mb-2"
                            style="max-height: 150px; max-width: 150px;">
                        <img src="../assets/img/faperj.png" alt="Profile Picture"
                            class="img-responsive img-rounded mb-2" style="max-height: 150px; max-width: 150px;">
                        <img src="../assets/img/capes.png" alt="Profile Picture" class="img-responsive img-rounded mb-2"
                            style="max-height: 150px; max-width: 150px;">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>GPICC</span></strong>. {{ 'footer.direitos' | translate }}
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ 
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
        </div>
    </div>

</footer>