<div *ngIf="grupo=='GEPED'">
    <section id="hero" class="hero d-flex align-items-center section-bg" style="background-color: #fff;">
        <div class="container">
            <div class="row justify-content-between gy-5">
                <div
                    class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                    <h2 data-aos="fade-up">Grupo de Pesquisa Infância e Cultura Contemporânea</h2>

                    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="social-icons">
                            <a class="social-icon social-icon--facebook">
                                <i class="fa-brands fa-facebook"></i>
                                <div class="tooltip">Facebook</div>
                            </a>
                            <a class="social-icon social-icon--youtube">
                                <i class="fa-brands fa-youtube"></i>
                                <div class="tooltip">Youtube</div>
                            </a>
                            <a href="https://www.instagram.com/geped.ufrj/?hl=pt" target="_blank"
                                class="social-icon social-icon--instagram">
                                <i class="fa-brands fa-instagram"></i>
                                <div class="tooltip">Instagram</div>
                            </a>
                            <a class="social-icon social-icon--twitter">
                                <i class="fa-brands fa-twitter"></i>
                                <div class="tooltip">Twitter</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                    <img src="../assets/img/grupos pesquisa/g1.jpg" class="img-fluid" alt="" data-aos="zoom-out"
                        data-aos-delay="300">
                </div>
            </div>
        </div>
    </section>
    <section id="chefs" class="chefs section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>COORDENAÇÃO</h2>
                <p>GEPED</p>
            </div>

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="chef-member">
                        <div class="member-img">
                            <img src="../assets/img/grupos pesquisa/g2.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Chefs Member -->

                <div class="col-lg-8 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="justify-content-between">
                        <br>
                        <br>
                        <h3 data-aos="fade-up"><b>Grupo de Pesquisa Infância e Cultura Contemporânea
                            </b></h3>
                        <div style="text-align: justify;">

                            O GEPED
                            conhecimentos sobre o ensinar e o aprender, em contextos situados e histórica e socialmente
                            determinados.
                            São fundadoras do LEPED as professoras Ana Teresa de Carvalho Correa de Oliveira, Giseli
                            Barreto da
                            Cruz, Maria das Graças Chagas de Arruda Nascimento e Monique Andries Nogueira.
                            <br /> <br />
                            O GPICC

                            <br /> <br />



                        </div>

                        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                            <a href="#" class="btn-book-a-table">com.indu</a>
                            <a href="https://www.youtube.com/watch?v=3_VyOFcRL6g" target="_blank"
                                class="glightbox btn-watch-video d-flex align-items-center"><i
                                    class="bi bi-play-circle"></i><span>Vídeo da plataforma</span></a>
                        </div>
                    </div>
                </div><!-- End Chefs Member -->



            </div>

        </div>
    </section>

</div>