<div>
    <section id="hero" class="hero d-flex align-items-center section-bg" style="background-color: #fff;">
        <div class="container">
            <h4> Produções do Grupo</h4>

            <div class="tabset2">
                <h5> Selecione o tipo</h5>

                <button type="button" class="fill" (click)="getTese('Tese');pesquisas = 'Teses'">Teses</button>


                <button type="button" (click)="getTese('Dissertacao');pesquisas = 'Dissertações'"
                    class="up">Dissertações</button>

                <button type="button" (click)="getTese('Monografia');pesquisas = 'Monografias'"
                    class="btn m-3 fill">Monografias</button>


                <button type="button" (click)="getTese('Artigo');pesquisas = 'Artigos'" class="up">Artigos</button>

                <button type="button" (click)="getLivros();pesquisas = 'Livros'" class="close">Livros</button>


                <button type="button" (click)="getCapLivros();pesquisas = 'Capitulo de Livros'"
                    class="fill btn btn-primary m-3">Capitulo de Livro</button>


            </div>
            <div id="realizada" class="tabset2" *ngIf="teses">

                <h4> {{pesquisas}}</h4>
                <div *ngFor="let pesquisa of teses.teses" style="text-align: justify;">
                    <div *ngIf="pesquisas != 'Livros' && pesquisas != 'Capitulo de Livros' ">
                        <strong>{{pesquisa.titleTesis}} </strong>
                        <br />
                        <strong>Autor:</strong> {{pesquisa.authorTesis}}
                        <br />
                        <strong>Ano de conclusão:</strong> {{pesquisa.dateTesis}}
                        <br />
                        <strong>{{ 'comum.financiamento' | translate }}:</strong> {{pesquisa.financing}}
                        <br />

                        <div *ngIf="pesquisas == 'Artigos'">
                            <strong>Periodico:</strong> {{pesquisa.periodic}}<br />
                            <strong>Link:</strong> {{pesquisa.link}}
                        </div>

                        <span *ngIf="pesquisa?.pathS3" class="col-12">
                            <strong>Download Arquivo: </strong>
                            <a href="{{ baixar(pesquisa.pathS3) }}" target="_blank">Clique aqui</a>

                        </span>
                        <br /><br />

                    </div>
                </div>
            </div>


            <div *ngIf="pesquisas == 'Capitulo de Livros'">
                <br />
                <p *ngFor="let capitulo of capitulos?.capitulos" style="text-align: justify;">

                    <strong>{{capitulo.titleChapter}}</strong> <br />
                    <strong> {{ 'comum.autor' | translate }}(es): </strong><br />
                    {{capitulo.authorsChapter}}<br />
                    <strong>{{ 'comum.livros' | translate }}: </strong>{{capitulo.titleBook}}<br />
                    <strong>{{ 'comum.editora' | translate }}: </strong>{{capitulo.publisher}}<br />
                    <strong>Link da publicação </strong>{{capitulo.edition}}<br />
                    <strong>{{ 'comum.ano' | translate }}: </strong>{{capitulo.year}}<br />
                    <br />
                    <span *ngIf="capitulo?.pathS3" class="col-12">
                        <strong>Download Arquivo: </strong>
                        <p><a href="{{ baixar(capitulo.pathS3) }}" target="_blank">Clique aqui</a>
                        </p>
                    </span>
                </p>
            </div>

            <div *ngIf="pesquisas == 'Livros'">
                <div class="row gy-4 mb-4">
                    <div *ngFor="let livro of livros?.livros" class="col-lg-4 col-md-6 d-flex align-items-stretch"
                        data-aos="fade-up" data-aos-delay="100">
                        <div class="chef-member">
                            <div class="member-img">
                                <img width="304" height="236" src="{{livro.imagePathS3 | imagePathComplement}}"
                                    class="img-fluid" alt="">

                            </div>

                            <div class="col-8">

                                <p><b>{{livro.titleBook}}</b></p>
                                <div style="text-align: justify; text-justify: inter-word;" class="mb-4">
                                    <span><b>Autores:</b> {{livro.authorsBook}}</span><br />
                                    <span><b>Editora:</b> {{livro.editora}}</span><br />
                                    <span><b>Ano de publicação:</b> {{livro.datePublish}}</span><br />

                                    <span *ngIf="livro.linkBook"><b>Link: </b><a href="{{livro.linkBook}}"
                                            target="_blank"> Clique aqui</a></span>

                                </div>
                                <span *ngIf="livro?.pathS3" class="col-12">
                                    <strong>Download</strong>
                                    <p><a href="{{ baixar(livro.pathS3) }}" target="_blank">Clique aqui</a>
                                    </p>
                                </span>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
</div>