<div>
    <section id="hero" class="hero d-flex align-items-center section-bg" style="background-color: #fff;">
        <div class="container">


            <h4> Projetos Institucionais</h4>
            <div id="realizada" *ngIf="pesquisasServer">
                <br />
                <br />
                <p *ngFor="let pesquisa of pesquisasServer.extensaoEnsino" style="text-align: justify;">
                    <strong>{{pesquisa.title}} </strong>
                    <br />


                    <strong>{{ 'comum.periodo' | translate }}:</strong> {{pesquisa.begin}} - {{pesquisa.end}}<br />
                    <br />
                    <strong>{{ 'comum.resumo' | translate }}:</strong>
                    <span [innerHTML]="pesquisa.resume"></span>
                    <br /> <br />

                    <strong>{{ 'comum.financiamento' | translate }}:</strong> {{pesquisa.financing}}

                    <br /> <br />

                </p>



            </div>
        </div>
    </section>
</div>