<main id="submission" style="margin-top: 120px;">
    <div class="container submission-content">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="box">
                    <div class="section-header">
                        <h2>{{ 'comum.ola' | translate }}, {{user.fullname}}</h2>

                        <h2>ADMINISTRAÇÃO - GPICC</h2>
                    </div>


                    <div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>