.card-user {
    background: #fffc99;
    color: #53367c;
    padding: 12px;
    border-radius: 4px;

    small {
        font-weight: 300;
        font-size: 12px;
        margin: 6px 6px;
    }

    h4 {
        margin: 6px 6px;
        word-break: break-word;
        font-size: 18px;
    }
}