<div>
    <section id="hero" class="hero d-flex align-items-center section-bg" style="background-color: #fff;">
        <div class="container">
            <h4> Projetos do Grupo</h4>

            <div class="tab-panels">
                <div class="tabset2">

                    <button type="button" (click)="getPesquisas('gpicc', 1);pesquisas = 'Pesquisas Realizadas'"
                        class="btn btn-primary m-3">{{ 'tabelacao.butao.pescReal' | translate }}</button>


                    <button type="button" (click)="getPesquisas('gpicc', 2);pesquisas = 'Em Andamento'"
                        class="btn btn-primary m-3">{{
                        'tabelacao.butao.pescAnda' | translate }}</button>


                </div>
                <div id="realizada" class="tabset2" *ngIf="pesquisasServer">
                    <br />
                    <br />
                    <h4> {{pesquisas}}</h4>
                    <p *ngFor="let pesquisa of pesquisasServer.pesquisas" style="text-align: justify;">
                        <strong>{{pesquisa.icTipoPesquisa + ' - ' + pesquisa.titleResearch}} </strong>
                        <br />
                        <strong>Autor:</strong> {{pesquisa.coordination}}
                        <br />
                        <strong>Ano de ingresso:</strong> {{pesquisa.period}}<br /> <br />
                        <strong>{{ 'comum.resumo' | translate }}:</strong>
                        <span [innerHTML]="pesquisa.resume"></span>

                        <br /> <br />

                        <span *ngIf="pesquisa?.pathS3" class="col-12">
                            <br /><br /> <strong>Download Arquivo:</strong>
                            <p><a href="{{ baixar(pesquisa.pathS3) }}" target="_blank">Clique aqui</a>
                            </p>
                        </span>

                    </p>




                </div>
            </div>
        </div>
    </section>
</div>