<div>
    <section id="hero" class="hero d-flex align-items-center section-bg" style="background-color: #fff;">
        <div class="container">
            <h4> Projetos Individuais</h4>

            <div class="tab-panels">

                <div id="realizada" class="tabset2" *ngIf="pesquisasServer">
                    <br />
                    <!--<h4> {{pesquisas}}</h4>-->
                    <p *ngFor="let pesquisa of pesquisasServer.pesquisas" style="text-align: justify;">
                        <strong>{{pesquisa.icTipoPesquisa + ' - ' + pesquisa.titleResearch}} </strong>
                        <br />
                        <strong>Autor:</strong> {{pesquisa.coordination}}
                        <br />
                        <strong>Ano de conclusão:</strong> {{pesquisa.period}}<br />
                        <strong>{{ 'comum.resumo' | translate }}:</strong>
                        <span [innerHTML]="pesquisa.resume"></span>


                        <br />

                        <span *ngIf="pesquisa?.pathS3" class="col-12">
                            <strong>Download Arquivo: </strong>
                            <a href="{{ baixar(pesquisa.pathS3) }}" target="_blank">Clique aqui</a>

                        </span>

                    </p>




                </div>
            </div>
        </div>
    </section>
</div>