<div>
    <section id="hero" class="hero d-flex align-items-center section-bg" style="background-color: #fff;">
        <div class="container">
            <div class="row justify-content-between gy-5">
                <div
                    class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                    <h2 data-aos="fade-up"> {{home?.title}}
                    </h2>
                    <p data-aos="fade-up" data-aos-delay="100">
                        {{home?.subTitle}}
                        <br>
                    </p>

                    <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="chef-member">
                            <div class="member-img">
                                <img src="../assets/img/grupos pesquisa/g2.jpg" class="img-fluid" alt="">

                            </div>
                            <div class="member-info">
                                <p><strong>Coordenadora:</strong> <br />
                                    Profª Drª Giseli Barreto da Cruz
                                    <a style="color:#499acd" href=" mailto:giselicruz@ufrj.br">giselicruz@ufrj.br</a>
                                    <br />

                                </p>

                            </div>
                        </div>
                    </div>End Chefs Member -->



                    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="social-icons">
                            <a href="{{home?.facebook}}" target="_blank" class="social-icon social-icon--facebook">
                                <i class="fa-brands fa-facebook"></i>
                                <div class="tooltip">Facebook</div>
                            </a>
                            <a class="social-icon social-icon--youtube">
                                <i class="fa-brands fa-youtube"></i>
                                <div class="tooltip">Youtube</div>
                            </a>
                            <a href="{{home?.instagram}}" target="_blank" class="social-icon social-icon--instagram">
                                <i class="fa-brands fa-instagram"></i>
                                <div class="tooltip">Instagram</div>
                            </a>
                            <a class="social-icon social-icon--twitter">
                                <i class="fa-brands fa-twitter"></i>
                                <div class="tooltip">Twitter</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                    <br />
                    <br />
                    <img src="{{home?.imagePathS3 | imagePathComplement}}" class="img-fluid" alt="" data-aos="zoom-out"
                        data-aos-delay="300">
                </div>
            </div>


            <p [innerHTML]="home?.content" style="text-align: justify; margin-top: 15px;">

            </p>
        </div>
    </section>

    <section id="contato" class="tab-panel">
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h1>{{ 'contato.titulo' | translate }}</h1>

                </div>

                <div class="mb-3">
                    <iframe style="border:0; width: 100%; height: 350px;"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14695.770657127821!2d-43.1744735!3d-22.9523386!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6817eb587a3627a9!2sUFRJ%20-%20Campus%20Praia%20Vermelha!5e0!3m2!1spt-BR!2sbr!4v1656298509370!5m2!1spt-BR!2sbr"
                        frameborder="0" allowfullscreen></iframe>
                </div><!-- End Google Maps -->

                <div class="row gy-4">

                    <div class="col-md-6">
                        <div class="info-item  d-flex align-items-center">
                            <i class="icon bi bi-map flex-shrink-0"></i>
                            <div>
                                <h3>{{ 'contato.endereco' | translate }}</h3>
                                <p>UFRJ Praia vermelha</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item d-flex align-items-center">
                            <i class="icon bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h3>Email</h3>
                                <p>geped.feufrj@gmail.com</p>
                            </div>
                        </div>
                    </div><!-- End Info Item -->


                    <div class="col-md-6">
                        <div class="info-item  d-flex align-items-center">
                            <i class="icon bi bi-share flex-shrink-0"></i>
                            <div>
                                <h3>{{ 'contato.horarios' | translate }}</h3>
                                <div><strong>{{ 'contato.segSex' | translate }}:</strong> 9AM - 20PM;
                                    <strong>{{ 'contato.domingo' | translate }}:</strong> {{
                                    'contato.fechado' | translate }}
                                </div>
                            </div>
                        </div>
                    </div><!-- End Info Item -->

                </div>


                <!--End Contact Form -->

            </div>
        </section>
    </section>